

body {
  font-family: sans-serif;
  background: #333;
  color: #fff;
  line-height: 1.6;
}


/* Header */
header {
  
  color: #fff;
  padding: 2px;
  text-align: center;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}


.welcome{
  background-image: url(https://images.pexels.com/photos/260922/pexels-photo-260922.jpeg);
  background-size: cover;
  width: 100%;
  height: 60vh;
  padding: 10px;

}

.hero-section{
  color: #c4c1c1;
  width: 500px;
  margin-top: 10rem;
}
.hero-section h1{
  color: white;
  font-weight: bold;
}

.welcome button{
  background-color: transparent;
  color: #f2f2f2;
  padding: 7px 20px;
  border-radius: 10px;
  outline: none;
  border: solid white 2px;
}
.welcome button a{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.welcome button:hover{
  background: #000;
}




/* Main content */
main {
  padding: 20px;
}

main h2{
  text-align: center;
}

/* Images in gallery */
.images {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.images img {
  width: 200px;
  border-radius: 8px;
}


.gallery h2{ 
 text-align: center;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
}

/* Form */
form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #f2f2f2;
  padding: 15px;
  border-radius: 6px;
  color: #000;
}






form button {
  background: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
}

/* Footer */
footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top:20px;
}


@media (max-width: 768px){
  header{
    flex-direction: column;
  }
  .hero-section{
    width: 360px;
  }

}